# general things to ignore
/.tscache
/.idea
/build/
/dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~
*.log
*.pot
*.pyc
*.swp
*.lock
# due to using tox and pytest
.tox
.cache
node_modules/
/src/**/*.js
/tests/**/*.js
*.map
*.css
