# general things to ignore
/.tscache
/.eslintcache
/.idea
/lib/
/build/
/dist/tsBuildInfoFile
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~
*.log
*.pot
*.pyc
*.swp
*.lock
!yarn.lock
# due to using tox and pytest
.tox
.cache
node_modules/
/src/**/*.js
/tests/**/*.js
/src/**/*.map
/tests/**/*.map
*.css
*.log
/.awcache
/.cache-loader
# yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions