/**
 * Created by Samuel Gratzl on 16.12.2015
 */
@import "../clue/styles/vars";

$select-data-color: orange;
$hover-data-color: #ffc46b;

main.targid {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;

  div.content {
    flex: 1 1 auto;

    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;

    div.lineup {
      -webkit-flex: 50 1 auto;
      flex: 50 1 auto;
      position: relative;

      border: 2px solid gray;
      border-radius: 5px;

      > div {
        //height: 100%;
        max-width: none;

        .row.selected rect.bg {
          stroke: $select-data-color;
          stroke-width: 1;
        }
        .row.hover rect.bg {
          stroke: $hover-data-color;
          stroke-width: 1;

        }
      }

      div.lu {
        left: 2px;
        top: 2px;

      }
    }

    div.detail {
      -webkit-flex: 50 1 auto;
      flex: 50 1 auto;

      border: 2px solid gray;
      border-radius: 5px;
    }

    div.slider {
      -webkit-flex: 0 0 5px;
      flex: 0 0 5px;
      background-color: #dedede;

      cursor: ew-resize;
      position: relative;

      > div {

        i {
          cursor: pointer;
        }
      }
    }

    .hide {
      transition: flex-grow 1s linear;
      flex-grow: 0.00001;
    }
  }

  div.browser {
    height: 20vh;
    margin: 2px;

    border: 1px solid $exploration-stage;
    border-radius: 5px;

    div.header {
      background-color: $exploration-stage;
    }

    h2 {
      margin-top: 0;
      padding: 0.2em 0.5em;
      font-size: 18px;
      margin-bottom: 0.1em;
      color: $core_colour_text;
      vertical-align: middle;
    }
  }
}
