/**
 * Created by Samuel Gratzl on 16.12.2015
 */

@import "../clue/styles/vars";
$select-data-color: orange;
$hover-data-color: #ffc46b;

main.targid {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;

  div.content {
    flex: 1 1 auto;

    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;

    div.lineup {
      -webkit-flex: 1 1 auto;
      flex: 1 1 auto;
      background-color: #b2e0ff;
      position: relative;

      > div {
        //height: 100%;
        max-width: none;

        .row.selected rect.bg {
          stroke: $select-data-color;
          stroke-width: 1;
        }
        .row.hover rect.bg {
          stroke: $hover-data-color;
          stroke-width: 1;

        }
      }

      div.lu {
        left: 2px;
        top: 2px;

      }
    }

    div.slider {
      -webkit-flex: 0 0 5px;
      flex: 0 0 5px;
      background-color: #dedede;
      border-radius: 5px;

      cursor: ew-resize;
      position: relative;

      > div {

        i {
          cursor: pointer;
        }
      }
    }

    div.detail {
      -webkit-flex: 1 1 auto;
      flex: 1 1 auto;
      background-color: #ffcebd;
    }

    .hide {
      transition: flex-grow 1s linear;
      flex-grow: 0.00001;
    }
  }

  div.browser {
    height: 20vh;
    background-color: #b0fffd;
  }
}
