.ordino-session-list {
  overflow-y: hidden;
  overflow-x: hidden;
  max-height: $session-list-max-height;

  &:hover,
  &:focus-within {
    overflow-y: auto;
  }
}

.session-item:not(:last-child) {
  border-bottom: 1px solid $gray-300;
}
