.dataset-entry {
  .dataset-entry-item {
    max-height: $named-set-list-max-height;
    overflow-y: hidden;
    overflow-x: hidden;
    &:hover,
    &:focus-within {
      overflow-y: auto;
    }
  }
  &:not(:first-child) {
    border-left: 1px solid $gray-300;
  }
}
