.ordino-logo {
  font-family: Yantramanav, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 2.2rem;
  font-weight: 500;
  color: map-get($theme-colors, 'ordino-white');
  display: inline-block;
}
