#root {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  height: 100%;
}

#content {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.ordino-filmstrip {
  .ordino-workbench {
    height: 93vh;
    z-index: 10;
    width: $workbench-width;
    position: relative;
    transition: width 0.5s ease;
    border: 2px solid $gray-400;
    overflow: hidden;

    &.start.t-focus {
      width: $workbench-width;
    }

    &:not(:only-child) {
      border-right: none;
    }

    &.t-context {
      border-color: $success;
      width: $workbench-hide-width;
    }

    &.t-focus {
      width: $workbench-focus-width;
      border-color: $primary;
    }

    &.t-next,
    &.t-previous {
      width: $workbench-hide-width;
    }
  }
}
