#root {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  height: 100%;
}

#content {
  flex: 1 1 0;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}

.ordino-filmstrip {
  width: 100vw;
  flex: 1 1 auto;
  min-height: 0px;
  position: relative;
  display: flex;
  overflow: hidden;
  scroll-snap-type: x mandatory;
}

.ordino-workbench {
  width: 100vw;
  flex: 0 0 auto;
  background: white;
  overflow: hidden;
  max-height: 100%;
  min-height: 100%;
  transition: margin-left 2s ease 0s, width 2s ease 0s; // TODO: faster transition for chooser
  border-color: $gray-400;

  .viewContent {
    min-height: 0px;
    min-width: 0px;
    overflow: auto;
  }

  &:nth-child(1).t-focus {
    width: 100vw;
    &.open-chooser {
      width: calc(100vw - #{$chooser-width} - #{$chooser-margin});
    }
  }

  &.t-context {
    width: 30vw;
  }

  &.t-focus {
    width: $workbench-focus-width;
    &.open-chooser {
      width: calc(
        #{$workbench-focus-width} - #{$chooser-width} - #{$chooser-margin}
      );
    }
  }

  &.empty {
    width: calc(#{$chooser-width} + #{$chooser-margin});
    border-color: rgba(33, 37, 41, 1) !important;
  }
}
