body, html {
  font-family: Yantramanav, 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 400;
}

th,
label,
strong,
b,
.label {
  font-weight: 500 !important;
}

.form-inline .form-group {
  margin-right: 15px;

  label {
    margin-right: 5px;
  }
}

.form-horizontal.form-group-sm .form-group {
  margin-bottom: 5px;
}


/**
 * Hide options menu
 */
li[data-header="optionsLink"] {
  display: none;
}

.sync-indicator {
  color: inherit;
  transition: color ease .2s;

  overflow: hidden;
  max-width: 10em;
  text-overflow: ellipsis;

  &.active {
    color: blue;
  }
}
