$select-color: orange;
$select-color-bright: #ffdca3;
$hover-color: black;

$hover-presentation-color: #f0bb00;

$core_colour: #f0f0f0;
$core_colour_text: #333;
$core_colour_selected:#ddd;
$core_border : #ddd;

$exploration-stage: $core_colour;
$exploration-stage-hover: $core_colour_selected;

$authoring-stage: $core_colour;
$authoring-stage-hover: $core_colour_selected;
$presentation-stage: $core_colour;
$presentation-stage-hover: $core_colour_selected;

$core_player: $authoring-stage;
$core_duration:#D8D8D8;


$header-menu-bg-color: #ddd;
$header-menu-color: #333;

$core_color_almost_black: black;

$annotation_color: #009ACD;
$annotation_color_hover: #006b90;

$anchor_color: #EE2329;
$anchor_color_hover: darken($anchor_color, 20%);

$select-data-color: orange;
$hover-data-color: #ffc46b;


$ordinoAssetDir: './images' !default;
