



.parameters.form-inline .form-horizontal  {

  .form-control {
    display: block;
    margin-right: 0;
    width: 100%;
  }

  .form-group {
    display: block;
    margin-right: 0;
    margin-left: 0;

    > div {
      padding-left: 1px;
      padding-right: 1px;
    }
  }
}

.select.map-selector option:disabled {
  color: darkgray;
}
