/**
 * Additional jQuery select2 styles
 */


@import "~select2/dist/css/select2.min.css";
@import "~select2-bootstrap-theme/dist/select2-bootstrap.min.css";

.select2-results__option .ensg,
.select2-selection__rendered .ensg {
  font-size: 12px;
  color: #ccc;
}

.select2-container--bootstrap .select2-results>.select2-results__options {
  max-height:300px;
}

.select2-container--bootstrap .select2-results>.select2-results__options[id^="select2-ordinolineupcolumnadd"] {
  // different height for the column chooser
  max-height: 75vh;
}

.select2-results {
  font-size: 14px;
}

.select2-rendered__match {
  background: #FFEB3B;
  color: black;
}

.select2-results__options--nested .select2-results__option {
  padding-left: 25px !important;
}

.select2-container--bootstrap .select2-results__group {
  color: #444;
  background: #efefef;
}
