/**
 * Additional jQuery select2 styles
 */


@import "~select2/dist/css/select2.min.css";
@import "~select2-bootstrap-theme/dist/select2-bootstrap.min.css";

.select2-results__option .ensg,
.select2-selection__rendered .ensg {
  font-size: 12px;
  color: #ccc;
}

.select2-container--bootstrap .select2-results>.select2-results__options {
  max-height:300px;
}
