
.startMenu {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10; // should be higher than the .busy animation

  background-color: rgba($core_color_almost_black, 0);

  visibility: hidden;
  opacity: 0;
  transition: opacity ease 0.2s, background-color ease 0.2s;

  &.open {
    visibility: visible;
    opacity: 1;
    background-color: rgba($core_color_almost_black, 0.3);
  }

  .closeButton {
    margin: 5px 4px;
    background: #fff;
    border: 1px solid $core_border;
    padding: 5px 19px;
  }

  .menu {
    position: absolute;
    top: 45px;
    left: 5px;

    //width: 90%;

    background: #fff;
    border-color: 1px solid $header-menu-bg-color;
    border-radius: 6px;
    box-shadow: 0 0 1em rgba($core_color_almost_black, 0.4);

    padding: 15px;

    &:before {
      position: absolute;
      width: 0;
      height: 0;
      left: 16px;
      top: -8px;
      content: "";
      border-style: solid;
      border-width: 0 8px 8.7px 8px;
      border-color: transparent transparent #fff transparent;
    }

    section header h1 {
      margin: 0 0 5px 0;
      padding-top: 15px;
      font-size: 1.3em;
      border-top: 1px solid $header-menu-bg-color;

      label {
        cursor: pointer;
      }
    }

    section:first-child header h1 {
      margin-top: 0;
      padding-top: 0;
      border-top: none;
    }

    main {
      display: flex;
      height: 0;
      transition: .3s all;
      overflow: hidden;

      .item {
        margin-right: 30px;

        &:only-child {
          width: 100%;
        }
      }

      .header {
        font-weight: 500;
      }

      .customNamedSets {
        border-top: 1px dotted $core_border;
        margin-top: 1em;
      }
    }

    // Visually hide radio buttons
    input.toggle {
      position: absolute;
      opacity: 0;

      &:checked ~ main {
        height: 40vh; // or use `auto` to disable the animation
        overflow-y: auto;
        margin-bottom: 15px;
      }
    }

    ul {
      min-width: 150px;
      margin: 0;
      padding: 0;
      list-style: none;
      overflow-y: auto;

      li {
        display: flex;

        margin: 0;
        padding: 0;

        > a {
          padding: 5px;
          text-decoration: none;

          &:active,
          &:hover,
          &:focus {
            background: $core_colour;
          }
        }

        > a.goto {
          flex-grow: 10;
          font-weight: 500;

          text-transform: capitalize;

          &:before {
            margin-right: 8px;
            content: "\f105";
            font-family: "FontAwesome", serif;
          }
        }

        > a.delete, > a.edit {
          visibility: hidden;
          opacity: 0;
          transition: background ease .2s, color ease .2s, opacity ease .4s;

          &:active,
          &:hover,
          &:focus {
            background: $anchor_color;
            color: $core_colour;
          }
        }

        &:active,
        &:hover,
        &:focus {
          > a.delete, > a.edit {
            visibility: visible;
            opacity: 1;
          }
        }

      }


    }

    .menuTable {
      table {
        margin-bottom: 0;
      }
    }
  }

  //limit lineup listing
  .lineUpData main ul {
    max-height: 300px;
    overflow-y: auto;
  }

  .speciesSelector {
    .body {
      .species-wrapper {
        display: flex;
        padding-bottom: 15px;
        border-bottom: 1px solid $core_border;
        margin-bottom: 5px;
      }

      .entry-points-wrapper {
        margin-top: 15px;
      }

      .species-group {
        position: relative;

        &.active:before {
          position: absolute;
          width: 0;
          height: 0;
          bottom: -22%;
          left: 25%;
          content: "";
          border-style: solid;
          border-width: 0 13px 13.7px 13px;
          border-color: transparent transparent $header-menu-bg-color transparent;
          pointer-events: none;
        }

        &.active:after {
          position: absolute;
          width: 0;
          height: 0;
          bottom: -23%;
          left: 26%;
          content: "";
          border-style: solid;
          border-width: 0 12px 12.7px 12px;
          border-color: transparent transparent #fff transparent;
          pointer-events: none;
        }
      }

      label[for^="speciesSelector"] {
        cursor: pointer;
        margin-right: 1em;
        padding: 0.6em .25em .6em;
        border: solid .2em $core_border;
        border-radius: .5em;
        position: relative;
        color: $core_colour_selected;

        transition: background-color, color ease 0.2s;

        &:after{
          display: block;
          visibility: hidden;
          position: absolute;
          bottom: -66%;
          left: 4%;
          opacity: 0;
          content: attr(data-title);
          height: auto;
          padding: 5px 8px;
          z-index: 999;
          color: #fff;
          text-decoration: none;
          text-align: center;
          background: rgba(0,0,0,1);
          border-radius: 3px;
          pointer-events: none;
          transition: all 0.2s ease-in-out;
          white-space: nowrap;
        }

        &:before {
          position: absolute;
          visibility: hidden;
          width: 0;
          height: 0;
          bottom: -16%;
          left: 42%;
          opacity: 0;
          content: "";
          border-style: solid;
          border-width: 0 5px 8.7px 5px;
          border-color: transparent transparent rgba(0,0,0,1) transparent;
          pointer-events: none;
          transition: all 0.2s ease-in-out;
        }

        &:active:after,
        &:active:before,
        &:focus:after,
        &:focus:before,
        &:hover:after,
        &:hover:before{
          visibility: visible;
          opacity: 1;
        }
      }

      label:active,
      label:focus,
      label:hover,
      input[type=radio]:checked + label {
        color: $core_colour_text;
        border-color: $core_colour_text;
      }

      input[type=radio] {
        display: none;
      }

      .startMenuSearch {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;

        form {
          width: 80%;
        }

        // fix select2 placeholder cutoff
        // https://github.com/select2/select2/issues/291
        .select2-search__field {
          width: auto !important;
        }
      }

      .named-sets-wrapper {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
      }

    }
  }
}
