
@mixin fontAwesome() {
  margin-right: 0.2em;
  font-family: "FontAwesome", serif;
}

input[type="checkbox"].public:after {
  @include fontAwesome();
  content: '\f0c0'; //fa-users
}

@mixin idtype_color($idType, $color) {
  form.search {
    label.checkbox-inline[data-idtype="#{$idType}"] {
      color: $color;
    }
  }

  .select2-container--bootstrap .select2-selection--multiple {
    .select2-selection__choice[data-idtype="#{$idType}"] {
      border-color: $color;
    }
    &.select2-results__group[data-idtype="#{$idType}"] {
      background: $color;
      color: complement($color);
    }
  }

  article.view[data-idtype="#{$idType}"] {
    border-color: $color;
  }
}
