body, html {
  font-family: Yantramanav, 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 400;
}

main.targid {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;

  .scrollbar {
    margin: 0 0 1em 0;
    height: 2px;
    background: #ccc;
    line-height: 0;

    .handle {
      width: 100px;
      height: 100%;
      background: #292a33;
      cursor: pointer;

      .mousearea {
        position: absolute;
        top: -9px;
        left: 0;
        width: 100%;
        height: 20px;
      }
    }
  }

  div.targid {
    display: flex;
    flex-flow: row;
    position: absolute;
    width: 100%;
    min-height: calc(100% - 29px); // 29px == .history height
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;

    > .viewWrapper {
      position: relative;
      flex: none;

      display: flex;
      flex-direction: row;

      width: 50%;
      transition: width 0.5s linear;

      // hide empty views
      &:empty {
        display: none;
      }

      /*&.t-context {
        width: 30%
      }

      &.t-focus {
        width: 70%
      }*/

      > .view {
        flex: 1;
        position: relative;

        > div.multiple {
          height: 500px;
          overflow-y: auto;
          display: flex;
          flex-wrap: wrap;
        }
      }

      > .chooser {
        width: 7em;
        vertical-align: middle;
        text-align: center;

        .category {
          display: flex;
          flex-direction: column;
        }

        button {
          min-height: 4em;

          &[disabled] {
            border: none;
          }
          width: 100%;
        }
      }

      div.busy {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.26) url('../assets/caleydo_c_anim.svg') no-repeat center center;
        z-index: 999;
      }
    }
  }

/*
  div.targid {
    flex: 1 1 auto;

    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;


    div.view {
      -webkit-flex: 0.00001 1 auto;
      transition: flex-grow .5s linear;
      flex: 0.00001 1 auto;
      position: relative;

      //border: 2px solid gray;
      //border-radius: 5px;

      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      flex-direction: column;


      > * {
        transition: opacity .5s linear;
        opacity: 1;
      }


      &.t-focus {
        -webkit-flex-grow: 4;
        flex-grow: 4;
      }

      &.t-context {
        -webkit-flex-grow: 1;
        flex-grow: 1;
        width: 400px;
      }

      &.t-hide {
        -webkit-flex-grow: 0.00001;
        flex-grow: 0.00001;
        border-width: 0;

        > * {
          opacity: 0;
          display: none !important;
        }
      }

      div.busy {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.26) url('../assets/caleydo_c_anim.svg') no-repeat center center;
        z-index: 999;
      }

      > div.parameters {
        background-color: gray;
        flex: 0 0 auto;
        height: auto;
      }

      > div.inner {
        flex: 1 1 auto;
        position: relative;

        &.multiple {
          overflow-y: auto;
          display: flex;
          flex-wrap: wrap;
        }
      }
    }

    div.chooser {
      -webkit-flex: 0 0 auto;
      flex: 0 0 auto;

      vertical-align: middle;

      width: 7em;
      text-align: center;

      button {
        min-height: 4em;

        &[disabled] {
          border: none;
        }
        width: 100%;
      }

      &.t-hide {
        display: none;
      }
    }
  }
  */

  .history {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;

    //background-color: $core_colour;
    border-bottom: 1px solid $core_colour_selected;

    li {
      float: left;

      a {
        color: $core_colour_text;
        text-decoration: none;
        padding: 4px 0 4px 30px;
        background: #fff; /* fallback color */
        //background: lighten($core_border, 12%);
        position: relative;
        display: block;
        float: left;

        &:after {
          content: " ";
          display: block;
          width: 0;
          height: 0;
          border-top: 30px solid transparent; /* Go big on the size, and let overflow hide */
          border-bottom: 30px solid transparent;
          border-left: 20px solid #fff;
          //border-left: 20px solid lighten($core_border, 12%);
          position: absolute;
          top: 50%;
          margin-top: -30px;
          padding-left: 1px;
          left: 100%;
          z-index: 2;
        }

        &:before {
          content: " ";
          display: block;
          width: 0;
          height: 0;
          border-top: 30px solid transparent; /* Go big on the size, and let overflow hide */
          border-bottom: 30px solid transparent;
          border-left: 20px solid $core_border;
          position: absolute;
          top: 50%;
          margin-top: -30px;
          margin-left: 1px;
          left: 100%;
          z-index: 1;
        }

        &.t-focus {
          background-color: $core_colour;

          &:before,
          &:after {
            border-left-color: $core_colour;
          }
        }

        &.t-context {
          background-color: lighten($core_colour, 3%);

          &:before,
          &:after {
            border-left-color: lighten($core_colour, 3%);
          }
        }

        &.t-hide {
          //opacity: 0.5;
        }

        &:hover,
        &:active,
        &:focus {
          background: lighten($core_border, 0%);

          &:before,
          &:after {
            border-left-color: lighten($core_border, 0%);
          }
        }
      }

      &:first-child a {
        padding-left: 10px;
      }

      // traces that gets darker to the current item
      /*&:nth-child(2) a       { background:        lighten($core_border, 10%); }
      &:nth-child(2) a:after { border-left-color: lighten($core_border, 10%); }
      &:nth-child(3) a       { background:        lighten($core_border, 8%); }
      &:nth-child(3) a:after { border-left-color: lighten($core_border, 8%); }
      &:nth-child(4) a       { background:        lighten($core_border, 6%); }
      &:nth-child(4) a:after { border-left-color: lighten($core_border, 6%); }
      &:nth-child(5) a       { background:        lighten($core_border, 4%); }
      &:nth-child(5) a:after { border-left-color: lighten($core_border, 4%); }
      &:last-child a {
        background: lighten($core_border, 2%);
        color: $core_colour_text;
        //pointer-events: none;
        //cursor: default;
      }
      &:last-child  a:before {
        border-left-color: lighten($core_border, 2%);
      }
      &:last-child  a:after {
        border: 0;
      }*/
    }
  }

  div.lu {
    position: absolute;
    left: 2px;
    top: 2px;
    right: 2px;
    bottom: 2px;
    overflow: auto;

    .row.selected rect.bg {
      stroke: $select-data-color;
      stroke-width: 1;
    }
    .row.hover rect.bg {
      stroke: $hover-data-color;
      stroke-width: 1;

    }
  }
}

div.view .proxy_view {
  width: 100%;
  height: 100%;
  position: absolute;

  iframe {
    width: 100%;
    height: 100%;
  }
}
