body, html {
  font-family: Yantramanav, 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 400;
}

th,
label,
strong,
b,
.label {
  font-weight: 500 !important;
}

.form-inline .form-group {
  margin-right: 15px;

  label {
    margin-right: 5px;
  }
}

// header navigation
nav {
  .caleydo_app {
    background: transparent url("../assets/caleydo_c.svg") no-repeat 0.5em 45%;
    background-size: 6%;
  }
}


main.targid {
  display: -webkit-flex;
  display: flex;

  -webkit-flex-direction: column;
  flex-direction: column;

  svg {
    // generic axes styles
    path,
    .axis path,
    line,
    .axis line {
      fill: none;
      stroke-width: 1;
      stroke: black;
      shape-rendering: crispEdges;
    }
  }

  > div.wrapper {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
  }
}

nav.mainNavi {
  display: flex;
  flex-direction: column;

  //opacity: .6;
  //transition: opacity linear 0.2s;
  transition: background linear 0.2s;

  &+.targid {
    opacity: 1;
    transition: opacity linear 0.2s;
  }

  &:hover {
    //opacity: 1;
    background-color: $core_colour;

    &+.targid {
      opacity: .4;
    }
  }

  a {
    color: $core_colour_text;

    &:active,
    &:focus,
    &:hover {
      color: $hover-color;
    }
  }

  > div {
    margin-top: 10px;
    padding-top: 5px;
    border-top: 1px solid $core_border;

    &:nth-of-type(1) {
      margin-top: 0; // remove margin for first div
      border-top: none;
    }

    > span {
      color: #666;
      font-size: 10px;
      padding: 0 5px;
      text-align: center;
      width: 100%;
      display: block;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      //flex: 1 auto;

      display: flex;
      flex-direction: column;

      .panel {
        position: absolute;
        left: 60px;
        //top: 0;
        //bottom: 0;
        margin: 0;
        padding: 0 0 6px 0;
        z-index: 8;
        background-color: #fff;
        min-width: 150px;

        opacity: 0;
        visibility: hidden;
        transition: opacity ease .25s;

        &:after {
          content: " ";
          background: transparent;
          position: absolute;
          z-index: -1;
          top: -20px;
          left: -20px;
          right: -20px;
          bottom: -20px;
        }

        .panel-heading {
          font-size: 16px;
          font-weight: 500;
          padding: 7px 15px 4px 15px;

          &:before {
            content: "\f0da";
            font-family: "FontAwesome", serif;
            font-size: 18px;
            color: #adadad;
            position: absolute;
            top: 0;
            left: -18px;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }

        table {
          margin-top: -15px;
        }

        ul {
          margin: -15px;
          padding: 0;
          list-style: none;

          &:empty {
            margin: 0;
          }

          &:not(:empty) + div {
            margin-top: 25px;
            margin-bottom: -5px;
          }

          li {
            margin: 0;
            padding: 0;

            > a {
              display: block;
              padding: 5px 15px;
              text-decoration: none;
              font-weight: 500;
              width: 100%;

              &:before {
                margin-right: 8px;
                content: "\f105";
                font-family: "FontAwesome", serif;
              }

              &:active,
              &:hover,
              &:focus {
                background: $core_colour;
              }
            }
          }
        }
      }

      > li {
        margin: 2px 0;
        padding: 0;

        display: flex;
        justify-content: center;

        > button {
          position: relative;
          display: block;
          padding: 2px 0;
          margin: 0 5px;
          width: 35px;
          height: 35px;
          line-height: 30px;

          &:hover {
            background-color: #fff;
          }
        }

        &:hover {
          > button {
            border-color: #adadad;
          }

          .panel {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }
}


div.targid {
  flex: 1;

  display: flex;
  flex-flow: row;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;

  border-left: 1px solid #ddd;

  > .viewWrapper {
    position: relative;
    flex: none;

    border-top: 1px solid #ddd;

    display: flex;
    flex-direction: row;

    width: 50%;
    overflow: hidden;
    transition: width 0.5s ease;

    // first view should have width:100%
    &:nth-child(2):last-child {
      width: 100%;
    }

    &.t-context {
      width: 30%
    }

    &.t-focus {
      width: 70%
    }

    &.t-hide {
      width: 30%;
    }

    > .view {
      flex: 1;
      position: relative;
      overflow: hidden;

      //transition: width 0.3s ease;
      //border-top: 8px solid #fff;

      > .inner,
      > .parameters {
        margin: 10px;
        overflow: hidden;
      }

      > .parameters:empty {
        display: none;
      }

      > .parameters:not(:empty) ~ .inner {
        border-top: 1px solid $core_border;
        padding-top: 10px;
        position: absolute;
        top: 45px;
        bottom: 0;
        left: 0;
        right: 0;
        overflow-y: auto;
      }

      > .multiple {
        overflow-y: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
      }

      > div {
        transition: opacity 0.3s ease;
      }
    }

    /*&.t-hide > .view > div {
      opacity: 0.2;
    }

    &.t-context > .view {
      //border-top: 8px solid lighten($core_border, 10%);

      > div {
        opacity: 0.6;
      }
    }

    &.t-focus > .view {
      //border-top: 8px solid lighten($core_border, 5%);

      > div {
        opacity: 1;
      }
    }

    > .view:hover > div {
      opacity: 1;
    }*/

    > .chooser {
      flex: 0 0 10em;
      background-color: $core_colour;
      text-align: center;
      position: relative;
      padding: 8px 0;

      button {
        width: 90%;
        margin-bottom: 4px;
        padding: 10px 5px;
        white-space: normal;
        //border-radius: 0;
        line-height: 1.2;
        border: 1px solid #ccc;

        &:active,
        &:focus,
        &:hover {
          background: lighten($core_colour, 3%);
          border-color: $hover-data-color;
        }

        &[disabled] {
          //opacity: 0.3;
          background: transparent;
          border-color: $core_border;
        }

        &.active {
          background-color: $select-color-bright;
        }
      }
    }

    div.busy {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.26) url('../assets/caleydo_c_anim.svg') no-repeat center center;
      z-index: 999;
    }
  }
}

div.lu {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;

  .row.selected rect.bg {
    stroke: $select-data-color;
    stroke-width: 1;
  }
  .row.hover rect.bg {
    stroke: $hover-data-color;
    stroke-width: 1;
  }

  .rankingbuttons .dropdown-menu {
    left: auto;
    right: 0;
  }
}



div.view .proxy_view {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  iframe {
    border: 0;
    width: 100%;
    height: 100%;
  }
}
