
/**
 * All rules in this file override or directly extend the original clue styles
 */

// overrides caleydo_clue/styles/base
body {
  font-family: Yantramanav, 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 400;

  .navbar-nav > li > a, a.navbar-brand {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    height: auto !important;
  }

  nav.navbar {
    margin: 0;
    background-color: $core_colour;
    border-radius: 0;
    border: none;
    border-bottom: 2px solid $core_border;
  }
}

// overrides caleydo_clue/styles/base
header {
  top: 1px;
}

// overrides caleydo_clue/styles/base
aside {
  border: 0;
  border-left: 2px solid $core_colour_selected;
  border-radius: 0;
  margin: 0;

  &.provenance-layout-vis {
    border-color:$core_colour_selected;
  }

  &.provenance-story-vis {
    border-color: $core_colour_selected;
  }

  &.annotations {
    border: 2px solid $core_colour_selected;
    > div:first-of-type {
      background-color: $presentation-stage;
    }
  }
}


// overrides caleydo_clue/styles/base
label {

  &.clue-E, &.clue-A, &.clue-P {
    padding: 7px 10px;
    border-radius: 0px !important;
    border: none;
    border-left: 1px solid $header-menu-bg-color;
    border-right: 1px solid $header-menu-bg-color;
    margin: 0;
    background-color: transparent;

    &.active, &:hover, &:active {
      font-weight: normal;
    }
  }
}


// overrides caleydo_clue/styles/storyvis
.provenance-story-vis {
  width: auto;


  div.current {
    margin: .2em .5em;
  }

  form.toolbar {
    margin: .2em .5em;
  }
}

div.stories {

  &.vertical {

    &.large {
      width: auto;
    }

  }
}


// overrides caleydo_clue/styles/provvis
.provenance-layout-vis {

  div.state {

    .toolbar {
      margin: .2em .5em;
    }

    &.caleydo-select-selected {
      font-weight: 500;
    }
  }
}
