.expressionVsCopyNumber {

  .mark {
    fill: transparent;
    stroke: $core_color_almost_black;
    stroke-width: 1;
    cursor: pointer;

    &:active,
    &:focus,
    &:hover {
      fill: $hover-data-color;
    }
  }



}
