.oncoPrint {
  display: flex;
  flex-direction: column;

  .legend {
    border-top: 1px solid $core_border;
    width: 100%;
    order: 1; // place at the bottom of gene list

    display: flex;
    justify-content: space-between;

    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    padding-top: 20px;

    .title {
      font-weight: 500;
    }

    li {
      display: flex;
      align-items: center;
    }

    li > span:first-child {
      width: 10px;
      height: 25px;
      margin-right: 5px;
    }

    li.mut > span:first-child {
      width: 8px;
      height: 8px;
    }
  }

  .geneTableWrapper {
    margin-left: 10em; // === .geneLabel width
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 50px; // space for gene tooltip on hover
  }

  td, th {
    margin: 0;
    white-space: nowrap;
  }

  th.geneLabel {
    position: absolute;
    left: 0;
    top: auto;
    color: $core_colour_text;
    width: 10em;
    text-align: left;

    span {
      display: block;
      font-size: 12px;
      color: #ccc;
    }
  }

  .gene {
    margin-top: 10px;

    &:first-child {
      margin-top: 0;
    }

    display: flex;
    align-items: center;

    .cell {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 2px;

      .mut {
        width: 100%;
      }

      &:after{
        display: block;
        visibility: hidden;
        position: absolute;
        bottom: -35px;
        left: -50%;
        opacity: 0;
        content: attr(data-title);
        height: auto;
        padding: 5px 8px;
        z-index: 999;
        color: #fff;
        text-decoration: none;
        text-align: center;
        background: rgba(0,0,0,1);
        border-radius: 3px;
        pointer-events: none;
        transition: all 0.2s ease-in-out;
        white-space: nowrap;
      }

      &:before {
        position: absolute;
        visibility: hidden;
        width: 0;
        height: 0;
        bottom: -8px;
        left: -10%;
        opacity: 0;
        content: "";
        border-style: solid;
        border-width: 0 5px 8.7px 5px;
        border-color: transparent transparent rgba(0,0,0,1) transparent;
        pointer-events: none;
        transition: all 0.2s ease-in-out;
      }

      &:hover:after,
      &:hover:before{
        visibility: visible;
        opacity: 1;
      }
    }
  }
}
