/**
 * Created by Holger Stitz on 27.07.2016.
 */

.welcomeView {
  position: absolute;
  top: 10px;
  left: 20px;
  z-index: 1;

  display: none;

  &:only-child {
    display: block;
  }

  img {
    width: 200px;
    height: auto;
    opacity: 0.2;
    transform: rotate(60deg) scaleY(-1);
  }

  h1 {
    position: absolute;
    left: 240px;
    top: 90px;
    margin: 0;
    padding: 0;
    width: 400px;
    color: #999;
    font-size: 4em;
  }
}
